# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: personaleddiewallnuttesting
# "app" enables Serverless Framework Dashboard features and sharing them with other Services.
app: teste-app
service: aws-python-flask-api


custom:
  wsgi:
    app: app.app

provider:
  name: aws
  runtime: python3.12
  # Uncomment to easily set up a custom domain. Read the docs for more details:
  # https://www.serverless.com/framework/docs/providers/aws/guide/domains
  # domain: api.example.com

functions:
  api:
    handler: wsgi_handler.handler
    events:
      - http:
          path: /
          method: ANY
      - http:
          path: /{proxy+}
          method: ANY

plugins:
  - serverless-wsgi
  - serverless-python-requirements
